@font-face {
	font-family: myFirstFont;
	src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
	font-family: myBtnFont;
	src: url(../fonts/Raleway-Light.ttf);
}
body {
	margin: 0;
	font-family: Helvetica;
	background: url(../images/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
a {
	text-decoration: none;
}
#menu a:hover {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	padding-bottom: 4px;
	border-top-width: 3px;
	border-top-style: solid;
	padding-top: 4px;
}
header {
	width: 100%;
	height: 80px;
	background-color: #000;
}
header a {
	color: #FFF;
}
#logo {
	border: 0;
	margin-top: 15px;
}
#menu {
	float: right;
	width: 565px;
	margin-top: 30px;
	font-size: 15px;
}
#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu li {
	display: inline-block;
	text-align: center;
	width: 89px;
}
#registerDiv {
	font-family: 'myFirstFont';
	height: auto;
	border: none;
	width: 530px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.form-group {
	margin-left: auto;
	margin-right: auto;
}
.form-control, select {
	width: 360px;
	height: 40px;
	margin-top: 15px;
	margin-bottom: 5px;
	background-color: #e5e5e5;
	border: 1px solid #000;
	border-radius: 3px;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
}
.form-control:focus, .form-control:hover {
	background-color: #FFF;
	border: 1px solid #71B5FF;
}
select {
	width: 382px;
}
#registerBtn {
	width: 375px;
	height: 60px;
	position: relative;
	margin-top: 10px;
	background-color: #000;
	color: #FFF;
	border-radius: 3px;
	font-family: 'myBtnFont';
	font-size: 16px;
	border: 1px solid #000;
}
#registerBtn:hover {
	border: 1px solid #FFF;
}